<launch>
  <arg name="robot_ns" default="robot_0"/> 
  <arg name="robot_port" default="/dev/ttyUSB0"/>  
  <arg name="robot_rate" default="115200"/> 
  <arg name="lidar_port" default="/dev/ttyUSB1"/>
  <arg name="tf_prefix" default="$(arg robot_ns)"/> 

  <group ns="$(arg robot_ns)">
  
    <node name="robot_node" pkg="robot_node" type="robot_node.py" output="screen">
        <param name="port" type="string" value="$(arg robot_port)"/>
        <param name="rate" type="int"    value="$(arg robot_rate)"/>
    </node>

    <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
      <param name="serial_port"         type="string" value="$(arg lidar_port)"/>
      <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
      <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
      <param name="frame_id"            type="string" value="laser_frame"/>
      <param name="inverted"            type="bool"   value="false"/>
      <param name="angle_compensate"    type="bool"   value="true"/>
    </node>

    

    <node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" 
      args="0 0 0.2 3.14 0 0 $(arg tf_prefix)/base_link laser_frame 100" />
    <node pkg="tf" type="static_transform_publisher" name="odom_broadcaster" 
      args="0 0 0.0 0 0 0 $(arg tf_prefix)/odom odom 100" />

  </group>

</launch>
