<launch>
  
  <node pkg="tf" type="static_transform_publisher" name="laser_to_base" 
    args="-0.1016 0 0.0889 0 0 0 base_link base_laser_link 50" />

  <node name="hcr" pkg="hcr_node" type="hcr.py" output="screen">
    <param name="port" value="/dev/ttyACM0" />
  </node>

  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->

  </node>

</launch>
