<launch>

  <arg name="robot_ns"  default="robot_1"/>  
  
  <include file="$(find robot_node)/launch/bringup_group.launch">
    <arg name="robot_ns"  default="$(arg robot_ns)"/>
  </include>
  

  <include file="$(find robot_navigation)/launch/gmapping.launch">
    <arg name="set_base_frame" default="$(arg robot_ns)/base_link"/>
    <arg name="set_odom_frame" default="$(arg robot_ns)/odom"/>
    <arg name="set_map_frame"  default="map"/>
    <arg name="scan"  default="$(arg robot_ns)/scan"/>
  </include>

  <include file="$(find robot_navigation)/launch/move_base_namespace.launch">
    <arg name="robot_ns" value="$(arg robot_ns)" />
  </include>

</launch>
