<launch>

  <arg name="robot_ns"             default="robot_0"/>  <!-- create, roomba -->
  <group ns="$(arg robot_ns)">
  
  <!--include file="$(find robot_node)/launch/bringup.launch"/-->
  

  <include file="$(find robot_navigation)/launch/gmapping.launch">
    <arg name="ns" value="$(arg robot_ns)" />
  </include>

  <include file="$(find robot_navigation)/launch/move_base_namespace2.launch">
    <arg name="robot_namespace" value="$(arg robot_ns)" /-->
  </include>
    
  </group>

</launch>
