<?xml version="1.0"?>
<launch>

  <!-- Bringup two turtlebot3s - laptop/remotepc portion -->

  <!-- Command Line Arguments -->
  <arg name="robot_name_1" default="robot_0"/>
  <arg name="robot_name_2" default="robot_1"/>


  <!-- Default value for location of map config file -->
  <arg name="map_file" default="$(find robot_navigation)/maps/room.yaml"/>

  <!-- Map Server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  
  <!-- AMCL -->
  <include file="$(find robot_navigation)/launch/amcl_namespace.launch">
    <arg name="robot_ns" value="$(arg robot_name_1)" />
  </include>

  <!-- Move Base -->
  <!-- <include file="$(find robot_navigation)/launch/move_base_namespace.launch">
    <arg name="robot_ns" value="$(arg robot_name_1)" />
  </include> -->
  
  <!-- AMCL -->
  <!-- <include file="$(find robot_navigation)/launch/amcl_namespace.launch">
    <arg name="robot_ns" value="$(arg robot_name_2)" />
  </include>
   -->
  <!-- Move Base -->
  <!-- <include file="$(find robot_navigation)/launch/move_base_namespace.launch">
    <arg name="robot_ns" value="$(arg robot_name_2)" />
  </include> -->

</launch>