<launch>
  <!-- Bringup -->
  <include file="$(find robot_node)/launch/bringup_for_one.launch">
    <arg name="robot_port" default="/dev/ttyACM0"/>  
    <arg name="robot_rate" default="57600"/> 
    <arg name="lidar_port" default="/dev/ttyUSB0"/>
    <arg name="tf_prefix_arg" default=""/>
  </include>
  
  <include file="$(find robot_navigation)/launch/gmapping.launch">
    <arg name="set_base_frame" default="base_link"/>
    <arg name="set_odom_frame" default="odom"/>
    <arg name="set_map_frame"  default="map"/>
    <arg name="scan"  default="scan"/>
  </include>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_burger.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_burger.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/dwa_local_planner_params_burger.yaml" command="load" />

    <param name="global_costmap/scan/sensor_frame" value="base_scan"/>
      <param name="global_costmap/obstacle_layer/scan/sensor_frame"
	     value="base_scan"/>
      <param name="global_costmap/global_frame" value="map"/>
      <param name="global_costmap/robot_base_frame"
	     value="base_link"/>
      <param name="local_costmap/scan/sensor_frame" value="base_scan"/>
      <param name="local_costmap/obstacle_layer/scan/sensor_frame"
	     value="base_scan"/>
      <param name="local_costmap/global_frame" value="odom"/>
      <param name="local_costmap/robot_base_frame"
	     value="base_link"/>
    <remap from="cmd_vel" to="/cmd_vel"/>
    <remap from="odom" to="odom"/>
    <param name="footprint" value="[[0.2, 0.2], [0.2, -0.2], [-0.2, -0.2], [-0.2, 0.20]]"/>
    <param name="global_costmap/footprint" value="[[0.2, 0.2], [0.2, -0.2], [-0.2, -0.2], [-0.2, 0.20]]"/>
    <param name="local_costmap/footprint" value="[[0.2, 0.2], [0.2, -0.2], [-0.2, -0.2], [-0.2, 0.20]]"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="false" />
  </node>

</launch>
