<launch>
  <!-- Bringup -->
  <include file="$(find robot_node)/launch/bringup_for_one.launch">
    <arg name="robot_port" default="/dev/ttyACM0"/>  
    <arg name="robot_rate" default="57600"/> 
    <arg name="lidar_port" default="/dev/ttyUSB0"/>
    <arg name="tf_prefix_arg" default=""/>
  </include>
  
  <include file="$(find robot_navigation)/launch/gmapping.launch">
    <arg name="set_base_frame" default="base_link"/>
    <arg name="set_odom_frame" default="odom"/>
    <arg name="set_map_frame"  default="map"/>
    <arg name="scan"  default="scan"/>
  </include>

  <include file="$(find robot_navigation)/launch/move_base_tb3.launch"/>

</launch>
