<?xml version="1.0"?>
<launch>

  <!-- Default value for location of map config file -->
  <arg name="map_file" default="$(find robot_navigation)/maps/lab3.yaml"/>

  <!-- Map Server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  
  <!-- Bringup -->
  <include file="$(find robot_node)/launch/bringup_for_one.launch">
    <arg name="robot_port" default="/dev/ttyACM0"/>  
    <arg name="robot_rate" default="57600"/> 
    <arg name="lidar_port" default="/dev/ttyUSB0"/>
  </include>
  
  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find robot_navigation)/params/amcl_params.yaml" command="load"/>

    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" type="str" value="base_link" />
    <param name="global_frame_id" type="str" value="map" />

    <param name="use_map_topic" value="true" />
    <param name="first_map_only" value="true" />
    <remap from="scan"           to="scan"/>
    
  </node>

  <node pkg="rosservice" type="rosservice" name="global_loc" args="call --wait /global_localization"/> 

  <!-- Move Base -->
  <include file="$(find robot_navigation)/launch/move_base_simple.launch"/>

</launch>