<?xml version="1.0"?>
<launch>
  <!-- Command Line Arguments -->
  <arg name="robot_ns" default="robot_0"/>

  <!-- Default value for location of map config file -->
  <arg name="map_file" default="$(find robot_navigation)/maps/room.yaml"/>

  <!-- Map Server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  

  <!-- AMCL
  <include file="$(find robot_node)/launch/bringup_group.launch">
    <arg name="robot_ns" value="$(arg robot_ns)" />
    <arg name="robot_port" default="/dev/ttyUSB1"/>  
    <arg name="robot_rate" default="115200"/> 
    <arg name="lidar_port" default="/dev/ttyUSB0"/>
    <arg name="tf_prefix" default="$(arg robot_ns)"/> 
  </include> -->

  <!-- AMCL -->
  <!-- <include file="$(find robot_navigation)/launch/amcl_namespace.launch">
    <arg name="robot_ns" value="$(arg robot_ns)" />
  </include> -->

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find robot_navigation)/params/amcl_params.yaml" command="load"/>

    <param name="odom_frame_id"  value="$(arg robot_ns)/odom"/>
    <param name="base_frame_id"  value="$(arg robot_ns)/base_scan"/>
    <remap from="scan"           to="/$(arg robot_ns)/scan"/>
    <!-- <param name="global_frame_id" value="map"/> -->

    <!-- Use the single map server -->
    <remap from="static_map" to="/static_map"/>
    
  </node>

  <!-- Move Base -->
  <include file="$(find robot_navigation)/launch/move_base_namespace.launch">
    <arg name="robot_ns" value="$(arg robot_ns)" />
  </include>

</launch>